<div class="products-container" >
    <div class="header-actions">
      <div class="search-box">
        <i class="fas fa-search"></i>
        <input type="text" [(ngModel)]="search" (input)="changeSearch(search)" placeholder="Search Sellers...">
  
  
      </div>
    </div>
  
    <div class="table-wrapper">
      <table class="table table-hover">
        <thead class="table-dark">
          <tr>
          
            <th>Seller Name</th>
            <th>Product Name</th>
            <th>Product Status</th>
            <th >Pictures</th>
            <th>Quantity</th>
            <th>Price </th>
            <th>Status</th>       
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let requests of UpdateRequests; let i = index">
            <td>{{requests.seller.name}}</td>
            <td>{{requests.updatedProduct.name}}</td>
            <td>{{requests.updatedProduct.status}}</td>
            <td>{{requests.updatedProduct.qty}}</td>
            <td>{{requests.updatedProduct.price}}</td>
            <td> <img [src]="requests.updatedProduct.pics[0]" alt="Product Image" width="50" height="50"></td>  
            <td>{{requests.status}}</td>

            <td class="actions">
              <div class="btn-group">
              
              <button class="btn btn-success btn-sm rounded-0" (click)="changeStatus(requests.request_id,'approved')"
              [disabled]="requests.status === 'approved'">
                  <i class="fa-solid fa-check"></i>
                </button>
              
              
                <button class="btn btn-danger btn-sm rounded-0" (click)="onDelete(requests.request_id)"[disabled]="requests.status === 'disapproved'||requests.status ==='approved'">
                  <i class="fa-solid fa-cancel"></i>
                </button>
              
      
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="pagination-wrapper">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link rounded-0" [routerLink]="['/admin/seller',currentPage-1]" >
            <i class="fas fa-chevron-left"></i>
          </a>
        </li>
        
        <li class="page-item" *ngFor="let page of getPages()" 
            [class.active]="page === currentPage">
          <a class="page-link rounded-0"  [routerLink]="['/admin/seller',page]">{{page}}</a>
        </li>
  
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link rounded-0" (click)="changePage(currentPage + 1)">
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  
 
  
  <!-- Delete Confirmation Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Disapprove</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to Disapprove this Request?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="confirmDelete()">Disapprove</button>
        </div>
      </div>
    </div>
  </div>