.content {
    padding-top: 70px;
    padding-bottom: 70px;
}

.products-page {
    background-color: white;
    width: 100%;
    border-radius: 0;
    min-height: 80vh;
}

.page-content {
    padding: 6%;
    padding-bottom: 20px;
}

.products-nav{
    padding-left: 2%;
}
.products-nav ol a{
    text-decoration: none;
    color: #768471;
}
.actions .pages-num {
    padding-left: 3%;
}
.actions select {
    border: none;
    color: #768471;
}

.actions select:focus {
    border: .5px dashed black;
    box-shadow: none !important;
    outline: none !important;
}

.products-items {
    padding-top: 3%;

}

.plant-card {
    position: relative;
    text-align: start;
    padding: 20px;
}

.plant-card img {
    width: 100%;
    height: auto;
}

.plant-card h6 {
    font-family: var(--secondary-font-family);
    margin-top: 10px;
    font-size: medium;
    font-weight: 400;
    color: #4d4f48;
}

.add-to-cart {
    position: absolute;
    top: 5%;
    left: 80%;
    background-color: rgb(219, 215, 215);
    padding: 5px 10px;
    border-radius: 50%;
    display: none;
}

.add-to-fav {
    position: absolute;
    top: 11%;
    left: 80%;
    background-color: rgb(219, 215, 215);
    padding: 5px 10px;
    border-radius: 50%;
    display: none;

}

.plant-card .category {
    font-weight: 200;
    color: #768471;

}

.plant-card .price {
    font-weight: 500;
    color: #4d4f48;
}

.shop-now {
    position: absolute;
    top: 20px;
    right: 20px;
}

.plant-card .add-to-cart i {
    text-decoration: none;
    color: #768471;
    font-size: 17px;
}

.plant-card .add-to-fav i {
    text-decoration: none;
    color: #768471;
    font-size: 17px;
}

.plant-card:hover .add-to-cart {
    display: block;
}

.plant-card:hover .add-to-fav {
    display: block;
}

.shop-btn {
    border-radius: 0%;
    border: none;
    width: 20%;
    color: white;
    background-color: var(--global-green-color);
}

.shop-btn:hover {
    border: .5px solid #4d4f48;
    color: #4d4f48;
    background-color: white;
}

.new-plants {
    margin-top: 40px;
}

.new-plants h3 {
    font-family: var(--secondary-font-family);
    font-weight: 400;
}

.page-item a{
  
    color: #4d4f48;
}