<div class="container">
    <form>
        <div *ngIf="selectedOrder?.product">
            <div *ngFor="let item of selectedOrder.product">
                <div class="mb-3 " style="background-color:bisque;">
                    <h6>
                        {{item.name}} - x {{item.qty}}
                    </h6>
                </div>
                <div class="d-flex gap-3 justify-content-center">
                    <select class="form-select w-auto rounded-0" [(ngModel)]="currentSelectedBranches[item.product_id]" name="selectedBranch" (change)="onselectBranch(item.product_id)">
                        <option [ngValue]="null" disabled>Please choose branch</option>
                        <option *ngFor="let branch of getProductBranches(item.product_id)" [ngValue]="branch">{{branch.branch.name}}</option>
                    </select>
                    <input disabled class="form-control w-20 rounded-0" [value]="getAvailableQty(item.product_id)" placeholder="available qty"
                        name="availableBranch">
                    <input class="form-control w-50 rounded-0" [(ngModel)]="currentselectedQts[item.product_id]" placeholder="qty" name="addedQty">
                    <button class="btn btn-secondary rounded-0"(click)="addSelecteBranch(item.product_id)"> add</button>
                </div>
                <hr>
            </div>

            <div class="container mt-4 rounded-0">
                <ul class="list-group rounded-0">
                    <li *ngFor="let item of addedItems; let i = index"
                        class="list-group-item d-flex justify-content-between align-items-center">
                        <span>{{ item.product_name }} - Qty: {{ item.requiredQty }}</span>
                        <button class="btn btn-danger btn-sm rounded-0">x</button>
                    </li>
                </ul>
            </div>
           
        </div>


        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success rounded-0">
                    submit
                </button>
            </div>
        </div>
    </form>
</div>