.page-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .page-not-found .content {
    max-width: 600px;
    padding: 20px;
    background-color:white;
  }
  
  .page-not-found h1 {
    font-size: 6rem;
    margin: 0;
    color: #343a40;
  }
  
  .page-not-found p {
    font-size: 1.25rem;
    color: #6c757d;
    margin: 20px 0;
  }
  
  .page-not-found .character-img {
    max-width: 100%;
    height: auto;
  }
  
  .page-not-found .btn {
    padding: 10px 20px;
    padding-top: 10px;
    font-size: 1rem;
    border-radius: 4px;
  }