
<div class="products-container">
  <div class="row">
    <div class="col-md-3">
      <div class="card rounded-0">
        <h5 class="text-danger"><i class="fa-solid fa-boxes-stacked"></i> {{NumofProducts}}</h5>
        <p  class="text-danger  fw-bold">#Products</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card rounded-0">
        <h5 class="text-warning"><i class="fa-solid fa-truck"></i> {{NumofOrders}}</h5>
        <p class="text-warning  fw-bold">#Orders</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card rounded-0">
        <h5 class="text-primary"><i class="fa-solid fa-store"></i> {{NumofBranches}}</h5>
        <p class="text-primary  fw-bold" >#Branches</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card rounded-0">
        <h5 class="text-success"><i class="fa-solid fa-coins"></i> ${{TotalSales}}</h5>
        <p class="text-success fw-bold" >Total Sales</p>
      </div>
    </div>

    <div>




    </div>




  <div class="row">
    <!-- First Chart -->
    <div class="col-md-6 mt-3">
      <div class="card rounded-0" style="height: 336px;">
        <select name="" class="w-50" id="" #selection (change)="test(selection.value)">
          <option value="Customers">Customers</option>
          <option value="Orders">Orders</option>
          <option value="Sellers">Sellers</option>
        </select>
        <div id="chart" class="chart-container">
          <apx-chart [series]="DonutChart.series" [chart]="DonutChart.chart" [labels]="DonutChart.labels"
            [responsive]="DonutChart.responsive"></apx-chart>
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-3">
      <div class="card rounded-0">
        <div id="chart3" class="chart-container">
          <apx-chart [series]="ColumnChart.series" [chart]="ColumnChart.chart" [dataLabels]="ColumnChart.dataLabels"
            [plotOptions]="ColumnChart.plotOptions" [yaxis]="ColumnChart.yaxis" [xaxis]="ColumnChart.xaxis"
            [fill]="ColumnChart.fill" [title]="ColumnChart.title"></apx-chart>
        </div>
      </div>
    </div>

  </div>

  <!-- Line Chart -->
  <div class="row">
    <div class="col-md-12 mt-3">
      <div class="card rounded-0">
        <div id="chart1" class="chart-container">
          <apx-chart [series]="LineChart.series" [chart]="LineChart.chart" [xaxis]="LineChart.xaxis"
            [dataLabels]="LineChart.dataLabels" [grid]="LineChart.grid" [title]="LineChart.title"></apx-chart>
        </div>
      </div>
    </div>

  </div>
</div>
