<div class="row">
    <div class="col-md-4">
      <div class="card rounded-0">
        <h5><i class="fa-solid fa-seedling"></i> 120</h5>
        <p>Products Available</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card rounded-0">
        <h5><i class="fa-solid fa-truck"></i> 45</h5>
        <p>Pending Orders</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card rounded-0">
        <h5><i class="fa-solid fa-users"></i> 350</h5>
        <p>Happy Customers</p>
      </div>
    </div>
  </div>
  <!-- <div id="chart">
    <apx-chart
      [series]!="chartOptions.series"
      [chart]!="chartOptions.chart"
      [xaxis]!="chartOptions.xaxis"
      [dataLabels]!="chartOptions.dataLabels"
      [title]!="chartOptions.title"
    ></apx-chart>
  </div> -->