<div class="row">
    <div class="col-md-4">
      <div class="card">
        <h5><i class="fa-solid fa-seedling"></i> {{NumofProducts}}</h5>
        <p>Products Available</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <h5><i class="fa-solid fa-truck"></i> {{NumofOrders}}</h5>
        <p>Pending Orders</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <h5><i class="fa-solid fa-users"></i> {{NumofDeliveredOrders}}</h5>
        <p>Happy Customers</p>
      </div>
    </div>
  </div>
  