<div class="landing">
    <div class="overlay"></div>
    <div class="text-center text">
        <h6>Welcome to green store</h6>
        <h1>Let’s Bring the Spring <br> to Your Home</h1>
        <a class="btn btn-primary main-btn" href="#">shop now</a>
    </div>

</div>

<div class="new-plants container pt-5">
    <div class="row px-2">
        <div class="col-sm-12 col-lg-6 text-lg-start text-center">
            <h3>new plants</h3>
        </div>
        <div class="col-sm-12 col-lg-6 text-lg-end text-center"><button class="btn btn-primary shop-btn">shop
                now</button></div>
    </div>
    <div class="row pt-3">
        <div class="col-md-4 plant-card">
            <a href="birdnest-japanese-details.html">
                <img src="customer/imgs/plants-ecommerce-product-featured-img-8-600x900.jpg" alt="Birdnest Japanese">
            </a>
            <a class="add-to-cart" href="#">
                <i class="fa-solid fa-basket-shopping fa-1x"></i>
            </a>
            <a class="add-to-fav" href="#">
                <i class="fa-solid fa-heart fa-1x"></i>
            </a>
            <h6 class="pt-3">Birdnest Japanese</h6>
            <p> <span class="category"> 6666</span><br> <span class="price"> $44</span> </p>
        </div>
        <div class="col-md-4 plant-card">
            <a href="birdnest-japanese-details.html">
                <img src="customer/imgs/plants-ecommerce-product-featured-img-8-600x900.jpg" alt="Birdnest Japanese">
            </a>
            <a class="add-to-cart" href="#">
                <i class="fa-solid fa-basket-shopping fa-1x"></i>
            </a>
            <a class="add-to-fav" href="#">
                <i class="fa-solid fa-heart fa-1x"></i>
            </a>
            <h6 class="pt-3">Birdnest Japanese</h6>
            <p> <span class="category"> 6666</span><br> <span class="price"> $44</span> </p>
        </div>
        <div class="col-md-4 plant-card">
            <a href="birdnest-japanese-details.html">
                <img src="customer/imgs/plants-ecommerce-product-featured-img-8-600x900.jpg" alt="Birdnest Japanese">
            </a>
            <a class="add-to-cart" href="#">
                <i class="fa-solid fa-basket-shopping fa-1x"></i>
            </a>
            <a class="add-to-fav" href="#">
                <i class="fa-solid fa-heart fa-1x"></i>
            </a>
            <h6 class="pt-3">Birdnest Japanese</h6>
            <p> <span class="category"> 6666</span><br> <span class="price"> $44</span> </p>
        </div>
    </div>

</div>


<div class="new-plants container pt-5 pb-5 ">
    <div class="row px-2">
        <div class="col-sm-12 col-lg-6 text-lg-start text-center">
            <h3>new plants</h3>
        </div>
        <div class="col-sm-12 col-lg-6 text-lg-end text-center"><button class="btn btn-primary shop-btn">shop
                now</button></div>
    </div>
    <div class="row pt-3">
        <div class="col-md-4 plant-card">
            <a href="birdnest-japanese-details.html">
                <img src="customer/imgs/plants-ecommerce-product-featured-img-8-600x900.jpg" alt="Birdnest Japanese">
            </a>
            <a class="add-to-cart" href="#">
                <i class="fa-solid fa-basket-shopping fa-1x"></i>
            </a>
            <a class="add-to-fav" href="#">
                <i class="fa-solid fa-heart fa-1x"></i>
            </a>
            <h6 class="pt-3">Birdnest Japanese</h6>
            <p> <span class="category"> 6666</span><br> <span class="price"> $44</span> </p>
        </div>
        <div class="col-md-4 plant-card">
            <a href="birdnest-japanese-details.html">
                <img src="customer/imgs/plants-ecommerce-product-featured-img-8-600x900.jpg" alt="Birdnest Japanese">
            </a>
            <a class="add-to-cart" href="#">
                <i class="fa-solid fa-basket-shopping fa-1x"></i>
            </a>
            <a class="add-to-fav" href="#">
                <i class="fa-solid fa-heart fa-1x"></i>
            </a>
            <h6 class="pt-3">Birdnest Japanese</h6>
            <p> <span class="category"> 6666</span><br> <span class="price"> $44</span> </p>
        </div>
        <div class="col-md-4 plant-card">
            <a href="birdnest-japanese-details.html">
                <img src="customer/imgs/plants-ecommerce-product-featured-img-8-600x900.jpg" alt="Birdnest Japanese">
            </a>
            <a class="add-to-cart" href="#">
                <i class="fa-solid fa-basket-shopping fa-1x"></i>
            </a>
            <a class="add-to-fav" href="#">
                <i class="fa-solid fa-heart fa-1x"></i>
            </a>
            <h6 class="pt-3">Birdnest Japanese</h6>
            <p> <span class="category"> 6666</span><br> <span class="price"> $44</span> </p>
        </div>
    </div>

</div>

<div class="container-fluid pt-5 story-div">
    <div class="row">
        <div class="col-lg-6 col-sm-12 story-img">
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="story-text">
                <h6>OUR STORY</h6>
                <h3>For People Who Love Plants</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Accusamus sequi veritatis sapiente quaerat accusantium ipsa fugit natus autem quibusdam ratione.
                    Maiores, sit ea. Hic repellat et culpa quo, omnis sed?

                    <br>
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Accusamus sequi veritatis sapiente quaerat accusantium ipsa fugit natus autem quibusdam ratione.
                    Maiores, sit ea. Hic repellat et culpa quo, omnis sed?

                </p>
                <div class="col-sm-12 col-lg-6 pt-3"><button class="btn btn-primary readmore-btn">Read More</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pt-5 px-5 pb-5 customer-say">
    <div class="text-center">
        <h1>What Our Customers Say</h1>
    </div>
    <div class="row text-center g-5">
        <div class="col-lg-4 col-sm-12">
            <div><i class="fas fa-quote-left"></i></div>
            <p>Sed odio donec curabitur auctor amet tincidunt non odio enim felis tincidunt amet morbi egestas
                hendrerit. </p>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div><i class="fas fa-quote-left"></i></div>
            <p>Sed odio donec curabitur auctor amet tincidunt non odio enim felis tincidunt amet morbi egestas
                hendrerit. </p>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div><i class="fas fa-quote-left"></i></div>
            <p>Sed odio donec curabitur auctor amet tincidunt non odio enim felis tincidunt amet morbi egestas
                hendrerit. </p>
        </div>

    </div>
</div>

<div class="footer-img pb-5">
    <div class="overlay"></div>
    <div class="text-center text">
        <h6>GFT CARD</h6>
        <h1>Give the Gift of Greenery <br></h1>
        <p>Pretium tortor risus enim neque quis pellentesque maecenas proin odio eget arcu</p>
        <a class="btn btn-primary main-btn" href="#">purshase gift card</a>
    </div>
</div>
<div class="container px-5 pt-5 pb-5 features">
    <div class="row">
        <div class="col-lg-4">
            <div class="features-item">
                <div class="features-icon-div">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="pt-4">
                    <h6 >Secure Payment</h6>
                    <p> Curabitur interdum, nisl at tincidunt.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="features-item">
                <div class="features-icon-div">
                    <i class="fas fa-box"></i>
                </div>
                <div class="pt-4">
                    <h6> Delivered With Care</h6>
                    <p> Curabitur interdum, nisl at tincidunt.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="features-item">
                <div class="features-icon-div">
                    <i class="fas fa-hand-holding-heart"></i>
                </div>
                <div class="pt-4">
                    <h6>Excellent Service</h6>
                    <p> Curabitur interdum, nisl at tincidunt.</p>
                </div>
            </div>
        </div>
    </div>
</div>