<div class="landing">
    <div class="overlay"></div>
    <div class="text-center text">
        <h6>Welcome to green store</h6>
        <h1>Let’s Bring the Spring <br> to Your Home</h1>
        <a class="btn btn-primary main-btn" href="#">shop now</a>
    </div>

</div>

<div class="new-plants container pt-5">
    <div class="row px-2">
        <div class="col-sm-12 col-lg-6 text-lg-start text-center">
            <h3>new plants</h3>
        </div>
        <div class="col-sm-12 col-lg-6 text-lg-end text-center"><button class="btn btn-primary shop-btn">shop
                now</button></div>
    </div>
    <div class="row pt-3">
        <div class="col-md-4 plant-card">
            <a href="birdnest-japanese-details.html">
                <img src="customer/imgs/plants-ecommerce-product-featured-img-8-600x900.jpg" alt="Birdnest Japanese">
            </a>
            <a class="add-to-cart" href="#">
                <i class="fa-solid fa-basket-shopping fa-1x"></i>
            </a>
            <a class="add-to-fav" href="#">
                <i class="fa-solid fa-heart fa-1x"></i>
            </a>
            <h6 class="pt-3">Birdnest Japanese</h6>
            <p> <span class="category"> 6666</span><br> <span class="price"> $44</span> </p>
        </div>
        <div class="col-md-4 plant-card">
            <a href="birdnest-japanese-details.html">
                <img src="customer/imgs/plants-ecommerce-product-featured-img-8-600x900.jpg" alt="Birdnest Japanese">
            </a>
            <a class="add-to-cart" href="#">
                <i class="fa-solid fa-basket-shopping fa-1x"></i>
            </a>
            <a class="add-to-fav" href="#">
                <i class="fa-solid fa-heart fa-1x"></i>
            </a>
            <h6 class="pt-3">Birdnest Japanese</h6>
            <p> <span class="category"> 6666</span><br> <span class="price"> $44</span> </p>
        </div>
        <div class="col-md-4 plant-card">
            <a href="birdnest-japanese-details.html">
                <img src="customer/imgs/plants-ecommerce-product-featured-img-8-600x900.jpg" alt="Birdnest Japanese">
            </a>
            <a class="add-to-cart" href="#">
                <i class="fa-solid fa-basket-shopping fa-1x"></i>
            </a>
            <a class="add-to-fav" href="#">
                <i class="fa-solid fa-heart fa-1x"></i>
            </a>
            <h6 class="pt-3">Birdnest Japanese</h6>
            <p> <span class="category"> 6666</span><br> <span class="price"> $44</span> </p>
        </div>
    </div>

</div>


<div class="new-plants container pt-5">
    <div class="row px-2">
        <div class="col-sm-12 col-lg-6 text-lg-start text-center">
            <h3>new plants</h3>
        </div>
        <div class="col-sm-12 col-lg-6 text-lg-end text-center"><button class="btn btn-primary shop-btn">shop
                now</button></div>
    </div>
    <div class="row pt-3">
        <div class="col-md-4 plant-card">
            <a href="birdnest-japanese-details.html">
                <img src="customer/imgs/plants-ecommerce-product-featured-img-8-600x900.jpg" alt="Birdnest Japanese">
            </a>
            <a class="add-to-cart" href="#">
                <i class="fa-solid fa-basket-shopping fa-1x"></i>
            </a>
            <a class="add-to-fav" href="#">
                <i class="fa-solid fa-heart fa-1x"></i>
            </a>
            <h6 class="pt-3">Birdnest Japanese</h6>
            <p> <span class="category"> 6666</span><br> <span class="price"> $44</span> </p>
        </div>
        <div class="col-md-4 plant-card">
            <a href="birdnest-japanese-details.html">
                <img src="customer/imgs/plants-ecommerce-product-featured-img-8-600x900.jpg" alt="Birdnest Japanese">
            </a>
            <a class="add-to-cart" href="#">
                <i class="fa-solid fa-basket-shopping fa-1x"></i>
            </a>
            <a class="add-to-fav" href="#">
                <i class="fa-solid fa-heart fa-1x"></i>
            </a>
            <h6 class="pt-3">Birdnest Japanese</h6>
            <p> <span class="category"> 6666</span><br> <span class="price"> $44</span> </p>
        </div>
        <div class="col-md-4 plant-card">
            <a href="birdnest-japanese-details.html">
                <img src="customer/imgs/plants-ecommerce-product-featured-img-8-600x900.jpg" alt="Birdnest Japanese">
            </a>
            <a class="add-to-cart" href="#">
                <i class="fa-solid fa-basket-shopping fa-1x"></i>
            </a>
            <a class="add-to-fav" href="#">
                <i class="fa-solid fa-heart fa-1x"></i>
            </a>
            <h6 class="pt-3">Birdnest Japanese</h6>
            <p> <span class="category"> 6666</span><br> <span class="price"> $44</span> </p>
        </div>
    </div>

</div>

<div class="pb-5 pt-5">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <img class="story-img" src="customer/imgs/plants-store-story-section-img.jpg" alt="">
        </div>
        <div class="col-lg-6 col-sm-12">
            yyy
        </div>
    </div>

</div>