<div class="plant-card">
    <a [routerLink]="['/productdetails',product.product_id]">
        <img src="{{product.pics[0]}}" alt="Birdnest Japanese">
    </a>
    <a class="add-to-cart" (click)="addProductToCart(product.product_id)" >
        <i class="fa-solid fa-basket-shopping fa-1x"></i>
    </a>
    <a class="add-to-fav" href="#">
        <i class="fa-solid fa-heart fa-1x"></i>
    </a>
    <h6 class="pt-3">{{product.name}}</h6>
    <p> <span class="category"> {{product.categories[0].name}}</span><br> <span class="price"> $ {{product.price}}</span> </p>
</div>
