<div class="plant-card">
    <a href="birdnest-japanese-details.html">
        <img src="{{product.pics[0]}}" alt="Birdnest Japanese">
    </a>
    <a class="add-to-cart" href="#">
        <i class="fa-solid fa-basket-shopping fa-1x"></i>
    </a>
    <a class="add-to-fav" href="#">
        <i class="fa-solid fa-heart fa-1x"></i>
    </a>
    <h6 class="pt-3">{{product.name}}</h6>
    <p> <span class="category"> {{product.category_id}}</span><br> <span class="price"> $ {{product.price}}</span> </p>
</div>
