<footer class="bg-dark text-center py-5">
    <div class="container">
        <div class="row pt-1">


            <ul class="list-unstyled text-center">
                <li><a href="#" >Home</a></li>
                <li><a href="#" >Plants</a></li>
                <li><a href="#" >About</a></li>
                <li><a href="#" >Contact</a></li>
            </ul>

        </div>
        <div class="row pt-5">

            <h5>Subscribe to our newsletter</h5>
            <form class="d-flex">
                <input type="email" class="form-control me-2 email-footer" placeholder="Your email address...">
                <button class="btn btn-success main-btn" type="submit">Subscribe</button>
            </form>

        </div>

        <div class="row pb-3 pt-5">
            <div class="social-icons" >
                <a href="#" class="me-2"><i class="fab fa-instagram"></i></a>
                <a href="#" class="me-2"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>

        </div>
    
    </div>
    <div class="text-center  pt-5 footer-bottom">
        <p>&copy; 2025 Plant Shop. Powered by Plant Shop.</p>
    </div>
</footer>