<div class="sidebar">
    <h4><i class="fa-solid fa-seedling"></i> Admin Dashboard</h4>
    <a routerLink="/admin/dashboard"
       routerLinkActive="active"
       (click)="onLinkClick()">
       <i class="fa-solid fa-chart-line"></i> Dashboard
    </a>
    <a routerLink="/admin/products"
       routerLinkActive="active"
       (click)="onLinkClick()">
       <i class="fa-solid fa-box"></i> Products
    </a>
    <a routerLink="/admin/clerk"
       routerLinkActive="active"
       (click)="onLinkClick()">
       <i class="fa-solid fa-person"></i> Clerk
    </a>
</div>
