<div class="products-container" [class.sidebar-open]="isSidebarOpen">
    <div class="header-actions">
      <button class="btn btn-success rounded-0" title="Add Category" (click)="showAddBranch()">
        Add Branch
      </button>
      
      <div class="search-box">
        <i class="fas fa-search"></i>
        <input type="text" [(ngModel)]="search" (input)="changeSearch(search)" placeholder="Search Branches">

      </div>
    </div>
  
    <div class="table-wrapper">
      <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let branch of branches; let i = index">
            <td>{{branch.name}}</td>
            <td>{{branch.location}}</td>
            <td>{{branch.status}}</td>
          
            <td class="actions">
              <div class="btn-group">
              
                <button class="btn btn-success btn-sm rounded-0" title="Active Branch" (click)="changeStatus(branch.branch_id,'active')" [disabled]="branch.status === 'active'">
                  <i class="fa-solid fa-check"></i>
                </button>
              
                <button class="btn btn-warning btn-sm rounded-0" title="Update Branch" (click)="FillBranchToEdit(branch)">
                    <i class="fa-solid fa-edit"></i>
                  </button>
              
                <button class="btn btn-danger btn-sm rounded-0" title="Inactive Branch" (click)="onDelete(branch.branch_id)" [disabled]="branch.status === 'inactive'">
                  <i class="fa-solid fa-cancel"></i>
                </button>
               
                
      
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="!branches || branches.length === 0" class="text-center text-muted py-4">
        <i class="fa-solid fa-exclamation-circle fa-2x"></i>
        <p class="mt-2">No Branches found.</p>
       </div>
    </div>
  
    <div class="pagination-wrapper">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link rounded-0" [routerLink]="['/admin/branch',currentPage-1]" >
            <i class="fas fa-chevron-left"></i>
          </a>
        </li>
        
        <li class="page-item" *ngFor="let page of getPages()" 
            [class.active]="page === currentPage">
          <a class="page-link rounded-0"  [routerLink]="['/admin/branch',page]">{{page}}</a>
        </li>
  
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link rounded-0" (click)="changePage(currentPage + 1)">
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  
 
  
  <!-- Delete Confirmation Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to Delete this Branch?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="confirmDelete()">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="branchModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content rounded-0">
        <div class="modal-header">
          <h5 class="modal-title">{{ isEditMode ? 'Edit Category' : 'Add Category' }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <input type="text" [(ngModel)]="NewBranchName" placeholder="Enter branch name" class="form-control mb-3">
          <input type="text" [(ngModel)]="NewBranchLocation" placeholder="Enter branch location" class="form-control">
        </div>
        
        <div class="modal-footer">
          <button class="btn btn-success rounded-0" (click)="isEditMode ? UpdateBranch() : saveBranch()">
            {{ isEditMode ? 'Update' : 'Save' }}
          </button>
       
          <button class="btn btn-secondary rounded-0" data-bs-dismiss="modal" (click)="cancelAddBranch()">Cancel</button>

        </div>
      </div>
    </div>
  </div>
  