@import url("../products/products.component.css");
.add-category-box {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .add-category-box input {
    flex: 1; 
    max-width: 250px; 
  }
  
  .add-category-box button {
    white-space: nowrap; 
  }
  